@import "c/portalStyles";

.main-container{
    margin-top: 0px;
    margin-left: 350px;
    margin-right: 359px;
    position: absolute;
    top: 160px !important;
    bottom: 100px !important;
    left: -32px !important;
    right: -150px !important;
    padding: 10px !important;
    z-index: 3 !important;
}
.child-container{
    background-color: #fff; 
    width: 332px;
    height: 545px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.heading{
    color: #181818;
    font-size: 36px;
    font-family: Post Grotesk;
    font-weight: 500;
    line-height: 44px;
    word-wrap: break-word;
}
.custom-input-container1{
    margin-left: 20px;
    margin-right: 20px;
}
.custom-input-container2{
    margin-left: 20px;
    margin-right: 20px;
}
.forgot-password{
    margin-left: 23px;
    margin-right: 60px;
    text-align: left;
}
.forgot-password-text{
    color: #2963C9;
    font-size: 16px;
    font-family: Post Grotesk;
    font-weight: 300;
    line-height: 16px;
    word-wrap: break-word;
}

.button-container {
   
    height: 35px; /* Set a specific height for the container */

    align-items: center; /* Center align vertically */
    justify-content: center; /* Center align horizontally */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
 
}
.login{
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: #da1b27;
    height: 44px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: Post Grotesk;
    border-color: #da1b27;
}

.conditions{
    /* display: flex; */
    padding: 3px 0px 0px 23px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}
.new-to-myaccount{
    display: flex;
    height: 46px;
    padding: 3px 0px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    text-align: center;
    margin-top: 25px;
}
.Account{
    color: var(--Colors-Enercare-Brand-Black, #000);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Post Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; 
}
.account-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}


.custom-button:hover {
    background-color: darkred; /* Darker red on hover */
}

.terms-and-conditions {
    color: #2963C9;
}
.register{
    color: #2963C9;
    font-size: 16px;
    font-family: Post Grotesk;
    font-weight: 300;
    line-height: 16px;
    word-wrap: break-word;
}

.eye-icon {
    /* size:small;
    position: absolute;
    top: 42%;
    right: 10px;
    transform: translateY(-50%); */
    /* margin-left: -35px; */
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    position: relative;
    bottom: 40%;
    left: 91%;
    transform: translateY(-158%);
}


.child-container2{
    background-color:  #f8f8f8;
    width: 332px;
    height: 545px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
}
.why-myaccount{
    color: black;
    font-size: 26px;
    font-family: Post Grotesk;
    font-weight: 500;
    line-height: 36px;
    word-wrap: break-word;
}
.you-canuse{
    color: #181818;
    font-size: 16px;
    font-family: Post Grotesk;
    font-weight: 300;
    line-height: 24px;
    word-wrap: break-word;
}
.view-main{
    Background-color:#fff;
    border-radius: 8px;
    height:25px;
}
.view-image{
    margin-left: 10px;
}
.view-text{
    margin-left: 8px;
    color: #181818;
    font-size: 16px;
    font-family: Post Grotesk;
    font-weight: 300;
    line-height: 24px;
    word-wrap: break-word;
}
.book-main{
    Background-color:#fff;
    border-radius: 8px;
    height:25px;
    margin-top:8px;
}
.book-image{
    margin-left: 10px;
}
.book-text{
    margin-left: 8px;
    color: #181818;
    font-size: 16px;
    font-family: Post Grotesk;
    font-weight: 300;
    line-height: 24px;
    word-wrap: break-word;
}
.product-main{
    Background-color:#fff;
    border-radius: 8px;
    height:25px;
    margin-top:8px
}
.product-image{
    margin-left: 10px;
}
.product-text{
    margin-left: 8px;
    color: #181818;
    font-size: 16px;
    font-family: Post Grotesk;
    font-weight: 300;
    line-height: 24px;
    word-wrap: break-word;
}
.moving-main{
    Background-color:#fff;
    border-radius: 8px;
    height:25px;
    margin-top:8px
}
.moving-image{
    margin-left: 10px;
}
.moving-text{
    margin-left: 8px;
    color: #181818;
    font-size: 16px;
    font-family: Post Grotesk;
    font-weight: 300;
    line-height: 24px;
    word-wrap: break-word;
}
.see-all{
    color: #2963C9;
    margin-top:25px;
}
.see-all-link{
    color:#2963C9;
    font-size: 16px;
    font-family: Post Grotesk;
    font-weight: 300;
    line-height: 16px;
    word-wrap: break-word;
}

/* Tablet view */
@media (min-width: 478px) and (max-width: 768px) {
    .main-container {
        margin-right: -26%;
        margin-top: 0%;
        margin-left: 25%;
        width: 100%;
        position: relative;
        top: 62px !important;
        bottom: 0% !important;
        right: -20% !important;
        z-index: 3 !important;
    }
    .mobilestyling {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 13%;
        margin-top: -10%;
    }
    .child-container {
        background-color: #fff;
        width: 60%;
        height: 80%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-bottom: 24px;
    }
   
    .heading {
        font-size: 24px;
        line-height: 32px;
        color: #181818;
        font-size: 36px;
        font-family: Post Grotesk;
        font-weight: 500;
        line-height: 44px;
        word-wrap: break-word;
    }

    .custom-input-container1 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .custom-input-container2 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .eye-icon {
        bottom: 30%;
        right: 10px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        position: relative;
        bottom: 40%;
        left: 91%;
        transform: translateY(-158%);
    }
    .forgot-password {
        margin-left: 23px;
        margin-right: 60px;
        text-align: left;
    }
    .forgot-password-text {
        color: #2963C9;
        font-size: 16px;
        font-family: Post Grotesk;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
    }
    .button-container {
        height: 44px;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
    .conditions{
        /* display: flex; */
        padding: 3px 0px 0px 23px;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        text-align: center;
    }
    .new-to-myaccount{
        display: flex;
        height: 46px;
        padding: 3px 0px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
    margin-top: 25px;
    }
    .Account{
        color: var(--Colors-Enercare-Brand-Black, #000);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "Post Grotesk";
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px; 
    }
    .account-container{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .login {
        width: 100%;
        position: relative;
        border-radius: 8px;
        background-color: #da1b27;
        height: 44px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        font-family: Post Grotesk;
        border-color: #da1b27;
    }
    .conditions{
        /* display: flex; */
        padding: 3px 0px 0px 23px;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        text-align: center;
    }
    .new-to-myaccount{
        display: flex;
        height: 46px;
        padding: 3px 0px;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        align-self: stretch;
        text-align: center;
    margin-top: 25px;
    }
    .Account{
        color: var(--Colors-Enercare-Brand-Black, #000);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "Post Grotesk";
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 16px; 
    }
    .account-container{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .terms-and-conditions {
        color: #2963C9;
    }
    /* .button-container2 {
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 17px;
        margin-top: 11px;
    } */

    .why-myaccount {
        font-size: 20px;
        line-height: 28px;
    }
    .register {
        color: #2963C9;
        font-size: 16px;
        font-family: Post Grotesk;
        font-weight: 300;
        line-height: 16px;
        word-wrap: break-word;
    }
    .child-container2 {
        background-color: #f8f8f8;
        width: 60%;
        height: 80%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 32px;
    }
    .you-canuse,
    .view-text,
    .book-text,
    .product-text
     {
        font-size: 12px;
        line-height: 20px;
    }
    .view-main,
    .book-main,
    .product-main
    
     {
        Background-color: #fff;
        border-radius: 8px;
        height: 25px;
    }
    .view-image,
    .book-image,
    .product-image {
        margin-left: 10px;
    }
    .see-all {
        color: #2963C9;
        margin-top: 25px;
    }
    .moving-main{
       display:none;
    }
    
}

/* Mobile view */
@media (max-width: 480px) {
    .main-container {
        margin-right: -42%;
        margin-top: 0%;
        margin-left: 7%;
        width: 100%;
        position: relative;
        padding: 32px;
        top: 10px !important;
        bottom: 0% !important;
        left: -19px !important;
        right: 72% !important;
        padding: 10px !important;
        z-index: 3 !important;

    }
   
    .mobilestyling {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .forgot-password{
        margin-left: 23px;
        margin-right: 60px;
        text-align: left;
    }
    .forgot-password-text {
        color: #2963C9;
        font-size: 16px;
        font-family: Post Grotesk;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
    }
    .child-container {
        background-color: #fff;
        width: 100%;
        height: 80%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }
    
    .child-container2 {
        background-color: #f8f8f8;
        width: 100%;
        height: 80%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 0px;
        padding: 32px;
    }
    .custom-input-container1 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .custom-input-container2 {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }    
    .heading {
        font-size: 24px;
        line-height: 32px;
        color: #181818;
        font-size: 36px;
        font-family: Post Grotesk;
        font-weight: 500;
        line-height: 44px;
        word-wrap: break-word;
    }

    .why-myaccount {
        font-size: 20px;
        line-height: 27px;
        color: black;
        font-size: 28px;
        font-family: Post Grotesk;
        font-weight: 500;
        line-height: 36px;
        word-wrap: break-word;
    }
    .login {
        width: 100%;
        position: relative;
        border-radius: 8px;
        background-color: #da1b27;
        height: 44px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        font-family: Post Grotesk;
        border-color: #da1b27;
    }
    .button-container1 {
        height: 35px;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .button-container2 {
        height: 44px;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 17px;
        margin-top: 30px;
    }

    .terms-and-conditions {
        color: #2963C9;
    }
    .you-canuse,
    .view-text,
    .book-text,
    .product-text
    {
        font-size: 12px;
        line-height: 20px;
        color: #181818;
        font-size: 16px;
        font-family: Post Grotesk;
        font-weight: 300;
        line-height: 24px;
        word-wrap: break-word;
    }
    .view-main,
    .book-main,
    .product-main
    
     {
        Background-color: #fff;
        border-radius: 8px;
        height: 25px;
    }
    .view-image,
    .book-image,
    .product-image
    {
        margin-left: 10px;
    }
    .see-all {
        color: #2963C9;
        margin-top: 25px;
    }
    .see-all-link {
        color: #2963C9;
        font-size: 16px;
        font-family: Post Grotesk;
        font-weight: 300;
        line-height: 16px;
        word-wrap: break-word;
    }
    .eye-icon {
        bottom: 30%;
        right: 10px;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        position: relative;
        bottom: 40%;
        left: 91%;
        transform: translateY(-158%);
    }
    .moving-main{
        display:none;
     }
}