/* @import "c/portalStyles"; */

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
    /* max-width: 30%; */
    width: 20%;
}

.header .logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.heading {
    color: #181818;
    font-size: 24px;
    margin-bottom: 10px;
}

.info-text {
    color: #181818;
    font-size: 16px;
    margin-bottom: 20px;
}

.email-address {
    margin-bottom: 20px;
    text-align: left;
}

.email-info {
    color: #888888;
    font-size: 14px;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.resend-button,
.go-back-button {
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    height: 44px;
    text-align: center;
    font-size: 16px;
    color: #da1b27;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 2px solid #da1b27;
}

.resend-button:disabled {
    background-color: #f0f0f0;
    color: #ccc;
    border: 2px solid #ccc;
}

.footer {
    font-size: 14px;
    color: #888888;
}

.footer .sign-in-link {
    color: #2963C9;
}
@media (min-width: 478px) and (max-width: 768px) {
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        text-align: center;
        /* max-width: 30%; */
        width: 45%;
    }
    
    .header .logo {
        max-width: 100px;
        margin-bottom: 20px;
    }
    
    .heading {
        color: #181818;
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .info-text {
        color: #181818;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .email-address {
        margin-bottom: 20px;
        text-align: left;
    }
    
    .email-info {
        color: #888888;
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    .actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
    
    .resend-button,
    .go-back-button {
        width: 100%;
        position: relative;
        border-radius: 8px;
        background-color: #fff;
        height: 44px;
        text-align: center;
        font-size: 16px;
        color: #da1b27;
        font-family: Arial, sans-serif;
        font-weight: bold;
        border: 2px solid #da1b27;
    }
    
    .resend-button:disabled {
        background-color: #f0f0f0;
        color: #ccc;
        border: 2px solid #ccc;
    }
    
    .footer {
        font-size: 14px;
        color: #888888;
    }
    
    .footer .sign-in-link {
        color: #2963C9;
    }
    }

@media (max-width: 480px) {
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
    /* max-width: 30%; */
    width: 70%;
}

.header .logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.heading {
    color: #181818;
    font-size: 24px;
    margin-bottom: 10px;
}

.info-text {
    color: #181818;
    font-size: 16px;
    margin-bottom: 20px;
}

.email-address {
    margin-bottom: 20px;
    text-align: left;
}

.email-info {
    color: #888888;
    font-size: 14px;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.resend-button,
.go-back-button {
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: #fff;
    height: 44px;
    text-align: center;
    font-size: 16px;
    color: #da1b27;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border: 2px solid #da1b27;
}

.resend-button:disabled {
    background-color: #f0f0f0;
    color: #ccc;
    border: 2px solid #ccc;
}

.footer {
    font-size: 14px;
    color: #888888;
}

.footer .sign-in-link {
    color: #2963C9;
}
}