.wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 36px; 
}
.div-flex{
    display: flex;
    flex-direction: row;
}
.heading-text{
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}
.subheading-text{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}
.horizontal-line{
    margin: 2px;
}
.div-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}
.call-text{
    font-size: 14px;
    font-weight: 500;
    color: #DA1B27;
    padding-left: 10px;
}
.p-text1{
    font-size: 14px;
    font-weight: 500;
    color: #636363;
}
.p-text2{
    font-size: 16px;
    font-weight: 600;
    color: #636363;
}
.button-style {
    display: flex;
    width: 215px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;

    color: #FFF;
    text-align: center;

    border-radius: 50px;
    background: #DA1B27;
    border-color: #DA1B27;
    /* Body Subtitle/Bold */
    font-family: Post Grotesk, Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
}
.slot-container{
    width: 40%;
    border-right: 0.5px solid;
    border-color:  #c9c7c7;
}
.flex-div-container{
    display: flex;
    flex-direction: row;
}
.button-container{
    align-items: center;
    padding: 5px;
}
.parent-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}